.positionBtn {
  background: none;
  border: 1.5px solid gray;
  width: 100%;

  margin-top: 0.8em;

  color: #ffffff;
  padding: 0.5em;
  border-radius: 0.3em;
  cursor: pointer;

  transition: 200ms;

  &:hover:enabled,
  &.selected {
    color: #000;
    background: #ffffff;
  }

  &:disabled {
    opacity: 0.8;
    cursor: not-allowed;
  }

  &.toggle {
    border-radius: 0;

    width: 100px !important;
    margin-left: -1.5px;

    &:first-child {
      border-top-left-radius: 0.3em;
      border-bottom-left-radius: 0.3em;
    }

    &:last-child {
      border-top-right-radius: 0.3em;
      border-bottom-right-radius: 0.3em;
    }
  }
}
