.searchContainer {
  position: fixed;
  top: 20%;
  left: 50%;

  transform: translate(-50%, -20%);

  width: 32rem;
}

.searchInput {
  width: 100%;
  padding: 0.8em 1em;

  font-size: 1rem;
  color: var(--secondary);

  border: 1.5px solid var(--secondary);
  border-radius: 0.3em;
  background: var(--primary);

  transition: 200ms;

  &::placeholder {
    color: #696969;
  }
}
