.settingsContainer {
  display: grid;
  grid-template-columns: 200px auto;

  gap: 1.5rem;
}

.settingsSidebar {
  width: 200px;

  ul {
    width: 100%;

    display: flex;
    flex-direction: column;
  }
}

.sidebarItem {
  width: 100%;
  margin: 0.2rem 0;
  transition: 200ms;

  background: transparent;
  border-radius: 0.4rem;
  border: 1.5px solid var(--secondary);
  list-style-type: none;
  cursor: pointer;

  padding: 0.4rem 0.8rem;

  button {
    width: 100%;
    border: none;
    background: transparent;

    cursor: pointer;
    font-size: 1rem;
    color: var(--secondary);
  }

  &.active,
  &:hover {
    background: var(--secondary);

    button {
      color: var(--primary);
    }
  }
}

.tab {
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
  scrollbar-width: thin;
}

.tabTitle {
  font-size: 1.8rem;
  color: var(--secondary);

  margin-bottom: 0.5rem;
}

/* bookmarks */
.settingsBookmarkItem {
  position: relative;
  display: flex;
  margin-bottom: 0.4rem;

  background: var(--primary);

  button {
    margin-left: -2px;
    display: grid;
    place-items: center;

    padding: 0.5rem 0.8rem;
    background: var(--primary);
    border: 1.5px solid var(--secondary);
    border-radius: 0 0.5rem 0.5rem 0;

    color: var(--secondary);
    font-size: 1rem;
    cursor: pointer;

    transition: 200ms;

    &:hover {
      color: var(--primary);
      background: var(--secondary);
    }
  }

  input {
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem 0.8rem;
    color: var(--secondary);
    background: none;

    border: 1.5px solid var(--secondary);
    border-radius: 0.5rem 0 0 0.5rem;
  }
}

.settingsBookmarkItems {
  max-height: 300px;
  overflow-y: auto;
  scrollbar-width: thin;
}

.addBookmarkBtn {
  @extend .sidebarItem;
  width: max-content;

  font-size: 1rem;
  color: var(--secondary);

  &:hover {
    color: var(--primary);
    background: var(--secondary);
  }
}
